.Userlist {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.ConteinerInfo {
  width: 75%;
  margin: 1rem;
  background-color: var(--white-color);
}

.ConteinerInfo .titulo {
  text-align: center;
}

.ConteinerInfo .titulo2 {
  text-align: center;
  margin: 5rem;
}

.ConteinerInfo .logo {
  margin: 1rem;
  width: 66rem;
  height: 30.5rem;
}

.ContainerAtentionCenters {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.ContainerAtentionCenters .description {
  margin: 1rem;
}

.ContainerUserList {
  width: 25%;
  margin: 1rem;
  background-color: var(--white-color);
}

.ContainerUserList .Userslist {
  list-style: none;
}
