.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  max-width: 25rem;
  text-align: center; 
}

.authentication form {
  margin-bottom: 1rem;
}

.Cont{
  display: flex;
  flex-direction: row;
}

.logo{
  margin-right: 1rem;
  width: 30rem;
  height: 25rem;
}

.card{
  width: 57rem;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}