.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.Cont{
  display: flex;;
  flex-direction: row;
  border-style: solid;
  border-color: red;
}

.logo2{
  margin-top: 100px;
}