.Container {
  display: flex;
  justify-content: center;
  margin-left: 20rem;
  margin-right: 20rem;
  background-color: var(--white-color);
  max-width: 80rem;
}

.Column {
  float: left;
  margin: 3rem;
}

.Info {
  font-size: 0.875rem;
  background-color: var(--snow-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  text-align: center;
}

.button {
  margin-top: 3rem;
  width: 19rem;
}
